<div class="ml-lg-5 col-lg-7 col-md-7 d-flex justify-content-center flex-row">
  <div>
    <p class="odinbook text-color mt-5">Odinbook</p>
    <p style="font-size: 1.8rem;">Share memories, make friends, travel the world from your phone...</p>
  </div>
</div>