<div class="d-flex justify-content-end">
  <div class="circle d-flex justify-content-center align-items-center bg-color mr-4">
    <%= link_to new_post_path do %>
      <i class="fas fa-plus text-white" style="font-size: 1.6rem"></i>
    <% end %>
  </div>
</div>