<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Odinbook, <%= @user.username %></h1>
    <p>
      Your account has been successfully created and verified.
    </p>

    <p>Thanks for joining Odinbook and have a great day!</p>
  </body>
</html>