.small {
    font-size: 0.8rem;
}

.odinbook {
    font-family: 'Spectral', serif;
    font-size: 6rem;
}

.alert-pos {
    position: fixed;
    bottom: 15px;
    height: auto;
    margin: auto;
    right: 50%;
    left: 50%;
    margin-left: -25%;
    z-index: 1000;
}

.circle {
    border-radius: 50%;
    height: 60px;
    position: fixed;
    bottom: 12px;
    width: 60px;
}

.profile-pic {
    position: relative;
    top: 120px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #DB1313;
}

.svg-inline--fa.text-color:active {
    color: white;
}

a {
    color: #DB1313;
}

.social-likes__widget {
    border: none;
}

@media(max-width: 963px) {
    .odinbook {
        font-size: 5rem;
    }
    .dis-none {
        display: none;
    }
}