.bg-color {
    background: #DB1313;
}

.text-color {
    color: #DB1313;
}

.playfair {
    font-family: 'Spectral', serif;
    font-size: 2rem;
}

body {
    font-family: 'Cormorant Garamond', serif;
    overflow-x: hidden;
}